<%puts 'entrou no arquivo'%>
<% if @project.errors.any? %>
      <% puts 'entrou no if' %>
     <hr>
     <div>
          <p><%= pluralize(@project.errors.count, "error") %> prevented this tag from saving.</p>
          <ul>
               <% @project.errors.full_messages.each do |msg| %>
                <% puts msg %>
                <li><%= msg %></li>
               <% end %>
          </ul> 
     </div>
     <hr>
<% end %>