<%= javascript_include_tag 'form_js_shared' %>
<%= form_for(@project) do |f| %>

    <div class="wrapper-all-form">        
        <div>
            <div>
                <p class="text-center"><%= f.label :coordinator_name, 'Coordenador' %></p>
            </div>
        </div>
        <div class="row coordinator-select">
            <div class="one-column">
                <%= f.select(:coordinator_name, coordinator_order, {include_blank: 'Selecione algo'}, class: 'select2', :id => 'coordinator-select-field')%>
            </div>
        </div>
             
        <hr>
        
        <div class="row">
            <div class="column3-left">
                <%= f.label :academic_unit, 'Centro Acadêmico' %>
            </div>
            
            <div class="column3-mid">
                <%= f.label :departament, 'Departamento' %>
            </div>

            <div class="column3-right">
                <%= f.label :subject_area, 'Área de Estudo'%>
            </div>
            
        </div>
       
        <div class="row">
            <div class="column3-left">
                <%= f.select :academic_unit, options_for_select(@places.collect{|p| [p.Loc_Descri, p.Loc_Cod]}, :selected => f.object.academic_unit), {}, {id: 'academic_unit_select', class: 'select2 select-size'}%>
            </div>

            <div class="column3-mid">
                <%= f.select :departament, options_for_select(@departaments.collect{|d| [d.Dep_descricao, d.Dep_descricao]}, :selected => f.object.departament), {}, {id: 'departaments_select', class: 'select2 select-size'} %>
            </div>

            <div class="column3-right">
                <%= f.select(:subject_area, options_for_select(@areas.collect{|a| [a.Are_Descricao, a.Are_Descricao]}, :selected => f.object.subject_area),{},{class: 'select2 select-size'})%>
            </div>
            
        </div> 

        <hr>
        
        <div class="title-project">
            <%= f.label :title, 'Título' %><br>
            <%= f.text_area :title, size:'70x4', placeholder: 'Digite o título do projeto' %><br>
        </div>
        <div class="abstract-project">
            <%= f.label :abstract, 'Resumo' %><br>
            <%= f.text_area :abstract, class: 'tinymce'%><br>
        </div>

        <div class="keywords">
            <%= f.label :keyword, 'Palavra-chave' %><br>
            | <%= f.text_field :keyword1, placeholder: 'Digite a palavra-chave' %> |
            <%= f.text_field :keyword2, placeholder: 'Digite a palavra-chave' %> |
            <%= f.text_field :keyword3, placeholder: 'Digite a palavra-chave' %> |
            <%= f.text_field :keyword4, placeholder: 'Digite a palavra-chave' %> |
        </div>
        
        <hr>
        <div class="row">
            <div class="column2-left date-select">
                <%= f.label :start_date, 'Início' %><br>
                <%= f.text_field :start_date, :id => 'start_date', placeholder: 'Início' %><br>
            </div>
            
            <div class="column2-right date-select">
                <%= f.label :end_date, 'Fim' %><br>
                <%= f.text_field :end_date, :id => 'end_date', placeholder: 'Fim' %><br>
            </div>
        </div>

        <div class="invisible">
            <%= f.label :numberOfYears%><br>
            <%= f.text_field :numberOfYears, :id => 'numberOfYears' %><br>
        </div>
        
        <hr>
        <div class="financing-area">
            <div class="row">
                <div id="finance" class="center-text">
                    <%= f.label :financing, 'Projeto financiado?' %><br>
                    <%= f.collection_radio_buttons :financing, [[true, 'Sim'], [false, 'Não']], :first, :last do |b| %>
                        <%=b.label { b.radio_button + ' ' + b.text } %><br>
                    <% end %>
                </div>

                <div id="financing-is-public" class="column3-mid invisible">
                    <%= f.label :financing_is_public, 'Financiamento por:'%><br>
                    <%= f.collection_radio_buttons :financing_is_public, [[true, 'Agência de Fomento'], [false, 'Empresa']], :first, :last do |b| %>
                        <%=b.label { b.radio_button + ' ' + b.text } %><br>
                    <% end %>
                </div>

                <div id="financing-is-nacional" class="column3-right invisible">
                    <%= f.label :financing_is_nacional, 'Financiamento:'%><br>
                    <%= f.collection_radio_buttons :financing_is_nacional, [[true, 'Nacional'], [false, 'Internacional']], :first, :last do |b| %>
                        <%=b.label { b.radio_button + ' ' + b.text } %><br>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="organization invisible">
            <p class="text-center"><%= f.label :organization, 'Organização'%></p>
            <p class="text-center"><%= f.select :organization, options_for_select([]), {}, {id: 'agencia-selector', class: 'select2 select-size'}%></p>
        </div>
        <div class="row invisible outro-text-class center-text">
            <%= f.text_field :organization , placeholder: 'Escreva o nome.', :id => 'outro-text-id' %>
        </div>
        <br>
        <div class="one-column">
            <%= f.label :money_approved, 'Recursos Concedidos' %>
            <%= f.text_field :money_approved, :id => 'money_approved', placeholder: 'Digite o valor recebido pelo projeto' %><br>
        </div>
        <br>
        <div class="invisible">
            <%= f.label :pocket, 'Reembolso' %><br>
            <%= f.text_field :pocket, :id => 'pocket', placeholder: 'Digite o valor retirado do seu bolso' %><br>
        </div>

        <%# Nesta div são inseridos campos de reembolso e ao clicar no botão de enviar fomulário, os valores destes campos são colocados no campo da div acima%>
        <div class="reembolso row"></div>


        <%= tinymce %>

        
        <%= f.submit 'Cadastrar', :id => 'form-button'%>
    </div>
<% end %>




