

<%= render 'form'%>
<div>
  <p class="text-center">
    <% if admin_signed_in? %>
      <%= link_to 'Voltar', admin_index_path, class: 'btn btn-secondary'%>
    <% else %>
      <%= link_to 'Voltar', root_path, class: 'btn btn-secondary'%>
    <% end %>
  </p>
</div>
