<div class="login-box">
  <div class="login-logo">
    <h2 class="text-center" style= "color: #3C8CBD">Login</h2>
  </div><!-- /.login-logo -->
  <div class="login-box-body", style="border: solid 2px #3C8CBD" >
  
    <p class="login-box-msg">Autentique-se para visualizar o sistema.</p>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group has-feedback">
        <%= f.text_field :email, placeholder: 'Email', class: 'form-control', autofocus: true %>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>

      <div class="form-group has-feedback">
        <%= f.password_field :password, placeholder: 'Senha', class: 'form-control', autocomplete: 'off' %>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8" >
          <%= link_to 'Esqueceu a senha?', new_admin_password_path %>
        </div><!-- /.col -->
        <div class="col-xs-4">
          <%= f.submit 'Entrar', class: 'btn btn-primary btn-block btn-flat' %>
        </div><!-- /.col -->
      </div>
    <% end %>
  </div>
  <% flash.each do |key, value| %>
    <div class="alert alert-warning alert-dismissable">
      <i class="fa fa-check"></i>
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <b><%= value %></b>
    </div>
  <% end %>
  </div><!-- /.login-box -->