.border {
	border: solid 1px black;
}

html {
	height: 100%;
}

body {
    background: #e5e5e5 url('/images/bg.jpg') repeat fixed center center / cover;
    font-family: arial, sans-serif;
    font-size: 16px;
    color: #0f0f0f;
    line-height: 22px;
    margin: 0px;
    height: 100%;
    min-height: 100%;
}

.conteudo {
	background-color: white;
	height: 100%;
	min-height: 100%;
}

/* Header */
/* Branding */
.brand-box {
    height: 120px;
    padding-left: 20px;
    display: table;
}
.brand-box > div {
    display: table-cell;
    vertical-align: middle;
}
.brand-banner {
    position: relative;
    height: 120px;
    padding: 0;
 
}
.brand-banner img {
    float: right;
    width: 439px;
    height: 120px;
}
.brand-title {
    margin-top: 2px;
    font-size: 18px;
    line-height: normal;
    text-transform: uppercase;
}
.brand-description {
    font-size: 14px;
    line-height: normal;
    color: #21759b;
}
.img-over {
    background: url("/images/img-over.png") no-repeat 0px 0px;
    width: 448px;
    height: 120px;
    float: left;
    left: 0;
    z-index: 99;
    position: absolute;
}

.img-under {
    background: url("/images/header-banner1.png") no-repeat 0px 0px;
    width: 550px;
    height: 120px;
    float: right;
}


/* Mid */

.login-box {
	padding: 20px;
	margin-top: 20px;
	padding-bottom: 100px;
	height: auto;
	border-bottom: solid 1px #7BA7D7;
}

.login-box-body {
	border: solid 2px #3C8CBD;
	margin: 10px auto;
	padding: 20px 40px;

}

#footer {
	padding: 20px 0px;
	background-color: white;
	position: absolute;
	bottom: 0;
}

#footer ul li {
	font-size: 1em;
}

