<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>AdminPage | Log in</title>
  <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
  <%= csrf_meta_tags %>
</head>
<body class="login-page">
  <div class="conteudo container">

    <header class="row" id="header">
      <div class="col-md-6">
        <hgroup class="brand-box">
          <div>
            <h1 class="brand-description">Universidade Federal do Ceará</h1>
            <h2 class="brand-title"><a href="/" title="">Pró-Reitoria de Pesquisa e Pós-Graduação</a></h2>
          </div>
        </hgroup>
      </div>
      <div class="col-md-6 brand-banner">
        <span class="img-over"></span>
        <span class="img-under"></span>
        <!-- <img src="/images/header-banner.png" height="120" width="447" alt="" /> -->
      </div>
    </header>

  <div class="login-box row" id="main">
    <div class="login-box-body">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group has-feedback">
          <%= f.text_field :email, placeholder: 'Email', class: 'form-control', autofocus: true %>
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>

        <div class="form-group has-feedback">
          <%= f.password_field :password, placeholder: 'Senha', class: 'form-control', autocomplete: 'off' %>
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
      
          <div class="col-xs-8">
            <%= link_to 'Esqueceu a senha?', new_admin_password_path %>
          </div><!-- /.col -->
          <div class="col-xs-4 actions">
            <%= f.submit 'Entrar', class: 'btn btn-primary btn-block btn-flat' %>
          </div><!-- /.col -->
        
      <% end %>
    </div>
  </div><!-- /.login-box -->

    <footer id="footer" class="row">
      <ul style="list-style-type: none;">
        <li>Endereço: Av. da Universidade, 2623 - Benfica - CEP 60020-180 - Fortaleza - CE - Área I do Centro de Humanidades</li>
        <li>Telefone: +55 (85) 3366 7640 / Fax: 3366 7604</li>
        <li>* Desenvolvido pela Coordenadoria de Análise de Dados e Fluxo da Informação / PRPPG</li>
      </ul>
  </div>


<%= javascript_include_tag 'application' %>
</body>
</html>
