<div class="wrapper-login">
  <div class="form-group">
    
	<%= form_for(Coordinator.new, url: coordinator_session_path,class:'form-signin', :id => "fmLogin" ) do |f| %>

	    <%= f.label :email, class:"control-label sr-only" %><br />
	    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", id:"email", placeholder: 'Email de coordenador' %>

	    <%= f.label :password, class:"control-label sr-only" %><br />
	    <%= f.password_field :password, autocomplete: "off", class:"form-control", id:"password", placeholder: 'Senha de coordenador' %>

	    <%= link_to 'Recuperar senha', new_coordinator_password_path %>

		<div class="actions">
	    	<%= f.submit "Entrar", id:"btn-logar", class:"btn btn-primary btn-lg btn-block" %>
		</div>
	<% end %>
</div>

<div class="new-session login-page col-md-12">
  <div class="column col-md-12">
  <div class="login-box">
    <p class="login">Acesse sua conta</p>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field ">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password, 'Senha' %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>
      <br>
      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, 'Lembre-me' %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Entrar" %>
      </div>
    <% end %>

    <%= render "admins/shared/links" %>
  </div>
</div>
</div>

<div class="login-box">
  <div class="login-logo">
    <h2 style= "color: #3C8CBD"><b>Login </b> <br> <b>M</b>gg<b>M</b></h2>
  </div><!-- /.login-logo -->
  <div class="login-box-body", style="border: solid #3C8CBD" >
  
    <p class="login-box-msg">Autentique-se para visualizar o sistema.</p>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group has-feedback">
        <%= f.text_field :email, placeholder: 'Email', class: 'form-control', autofocus: true %>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>

      <div class="form-group has-feedback">
        <%= f.password_field :password, placeholder: 'Senha', class: 'form-control', autocomplete: 'off' %>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
        </div><!-- /.col -->
        <div class="col-xs-4">
          <%= f.submit 'Entrar', class: 'btn btn-primary btn-block btn-flat' %>
        </div><!-- /.col -->
      </div>
    <% end %>
  </div>
  <% flash.each do |key, value| %>
    <div class="alert alert-warning alert-dismissable">
      <i class="fa fa-check"></i>
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <b><%= value %></b>
    </div>
  <% end %>
  </div><!-- /.login-box -->